*{
    margin: 0;
    padding: 0;
}
ul, ol{
    list-style: none;
}
a, a:hover{
    text-decoration: none;
}
.clr{
    clear: both;
}
body{
    font-family: 'Open Sans', sans-serif;  
}
.full{
    width: 100%;
}
.container{
    width: 1170px;
    margin: auto;
}
img{
    vertical-align: middle;
}
/*Basic css ends*/
/*Header part starts*/
.full-header{
    background: #ffffff;
}
.full-header .row .logo{
    width: 20%;
    float: left;
}
.full-header .row .logo a{
    line-height: 100px;
}
.full-header .row .menu{
    width: 80%;
    float: left;
    text-align: right;
}
.full-header .row .menu ul li{
    display: inline;
}
.full-header .row .menu ul li a{
    line-height: 100px;
    padding: 40px 27.5px;
    font-size: 15px;
    color: #484c55;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    position: relative;
}
.full-header .row .menu ul li a:hover, .full-header .row .menu ul li a.active{
    color: #49cbcd;
    background: #f8f9fb;
}
.full-header .row .menu ul li a:before{
    position: absolute;
    content: '';
    height: 3px;
    width: 0%;
    background: #49cbcd;
    left: 0;
    bottom: 0;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
}
.full-header .row .menu ul li a:hover::before, .full-header .row .menu ul li a.active:before{
    width: 100%;
}
/*Header part ends*/
/*Banner part starts*/
.full-banner{
    background: url("../images/Banner.jpg") center no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 138px;
    padding-bottom: 146px;
    position: relative;
}
.full-banner h1{
    font-size: 63px;
    font-weight: 600;
    color: #ffffff;
}
.full-banner p{
    font-size: 23px;
    line-height: 37px;
    color: #ffffffff;
    padding-top: 28px;
    padding-bottom: 57px;
}
.full-banner a{
    font-size: 26px;
    color: #ffffff;
    font-weight: 600;
    border: 3px solid #ffffff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    padding: 22px 42px;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
}
.full-banner a:hover{
    background: #ffffff;
    color: #49cbcd;
}
.full-banner i.fa-chevron-left{
    color: #49cbcd;
    height: 51px;
    width: 51px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    background: #ffffff;
    display: grid;
    align-items: center;
    font-size: 28px;
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
.full-banner i.fa-chevron-right{
    color: #49cbcd;
    height: 51px;
    width: 51px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    background: #ffffff;
    display: grid;
    align-items: center;
    font-size: 28px;
    position: absolute;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
/*Banner part ends*/
/*Service part starts*/
.full-service{
    padding-top: 105px;
    padding-bottom: 95px;
    text-align: center;
}
.full-service .row .service-col{
    width: 25%;
    float: left;
}
.full-service .row .service-col i{
    font-size: 40px;
    color: #49cbcd;
    height: 105px;
    width: 105px;
    border: 3px solid #49cbcd;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    display: grid;
    align-items: center;
    margin: auto;
    margin-bottom: 49px;
}
.full-service .row .service-col h1{
    font-size: 22px;
    font-weight: 400;
    color: #4e525d;
    padding-bottom: 24px;
}
.full-service .row .service-col p{
    font-size: 14px;
    line-height: 26px;
    color: #4e525d;
    padding: 0 16px;
    padding-bottom: 24px;
}
.full-service .row .service-col .btn a{
    font-size: 14px;
    color: #ffffff;
    background: #49cbcd;
    padding: 10px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
}
.full-service .row .service-col .btn a:hover{
    color: #49cbcd;
    border: 2px solid #49cbcd;
    background: #ffffff;
}
/*Service part ends*/
/*Portfolio part starts*/
.full-portfolio{
    padding-top: 50px;
    padding-bottom: 100px;
    background: #f1f1f1;
    text-align: center;
}
.full-portfolio .main-head h1{
    font-size: 42px;
    font-weight: 400;
    color: #4e525d;
    padding-bottom: 64px;
}
.full-portfolio .row .portfolio-col{
    width: 33.333%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
.full-portfolio .row{
    padding-bottom: 60px;
}
.full-portfolio .row .portfolio-col img{
    width: 100%;
}
.full-portfolio .btn a{
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
    background: #49cbcd;
    padding: 22px 42px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
}
.full-portfolio .btn a:hover{
    color: #49cbcd;
    border: 2px solid #49cbcd;
    background: #ffffff;
}
/*Portfolio part ends*/
/*The team part starts*/
.full-team{
    padding-top: 95px;
    padding-bottom: 105px;
    text-align: center;
}
.full-team .main-head h1{
    font-size: 42px;
    font-weight: 400;
    color: #4e525d;
    padding-bottom: 30px;
}
.full-team .team-col{
    width: 25%;
    float: left;
}
.full-team .team-col .circle{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    background: red;
    overflow: hidden;
    margin: auto;
    margin-bottom: 30px;
}
.full-team .team-col h1{
    font-size: 22px;
    font-weight: 400;
    color: #4e525d;
}
.full-team .team-col h2{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #4e525d;
}
.full-team .team-col p{
    font-size: 14px;
    line-height: 26px;
    color: #4e525d;
    padding: 0 15px;
    padding-top: 20px;
}
/*The team part ends*/
/*Pricing Table part starts*/
.full-pricing-table{
    padding-top: 120px;
    padding-bottom: 100px;
    background: #f1f1f1;
    text-align: center;
}
.full-pricing-table .row .pricing-table-col{
    width: 33.33%;
    float: left;
    padding: 0 15px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
.full-pricing-table .row .pricing-table-col h1{
    font-size: 26px;
    font-weight: 400;
    line-height: 48px;
    color: #ffffffff;
    background: #485460;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
}
.full-pricing-table .row .pricing-table-col h1:hover{
    background: #49cbcd;
}
.full-pricing-table .row .pricing-table-col h2{
    font-size: 20px;
    font-weight: 400;
    line-height: 48px;
    color: #485460;
    background: #f8f9fb;
    border-bottom: 1px solid #ecf0f1;
}
.full-pricing-table .row .pricing-table-col p{
    font-size: 14px;
    line-height: 45px;
    color: #8c9299;
    background: #ffffff;
    border-bottom: 1px solid #ecf0f1;
}
.full-pricing-table .row .pricing-table-col .btn{
    padding: 30px 0;
    background: #f8f9fb;
}
.full-pricing-table .row .pricing-table-col a{
    background: #788492;
    padding: 12px 50px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    font-size: 17px;
    font-weight: 600;
    color: #ffffff;
    background: #485460;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
}
.full-pricing-table .row .pricing-table-col a:hover{
    background: #49cbcd;
}
/*Pricing Table part ends*/
/*Testimonial part starts*/
.full-testimonial{
    padding: 100px 0;
    text-align: center;
    position: relative;
}
.full-testimonial h1{
    font-size: 42px;
    font-weight: 400;
    color: #4e525d;
    padding-bottom: 40px;
}
.full-testimonial p{
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
    color: #4e525d;
    padding: 0 235px;
    padding-bottom: 40px;
}
.full-testimonial h2{
    font-size: 21px;
    font-weight: 400;
    color: #9a8faf;
}
.full-testimonial  .fa-chevron-left{
    color: #999999;
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    font-size: 20px;
}  
.full-testimonial  .fa-chevron-right{
    color: #999999;
    position: absolute;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    font-size: 20px;
}  
/*Testimonial part ends*/
/*Footer part starts*/
.full-footer{
    padding: 100px 0;
    background: url("../images/Footer.jpg") center no-repeat;
    background-size: cover;
    text-align: center;
}
.full-footer .main-head h1{
    font-size: 42px;
    font-weight: 400;
    color: #ffffff;
    padding-bottom: 50px;
}
.full-footer .row .left-col{
    width: 50%;
    float: left;
    text-align: left;
}
.full-footer .row .left-col h1{
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
    padding-bottom: 20px;
}
.full-footer .row .left-col p{
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
}
.full-footer .row .left-col ul.social-icon{
    padding-top: 40px;
    padding-bottom: 20px;
}
.full-footer .row .left-col ul.social-icon li{
    display: inline;
}
.full-footer .row .left-col ul.web-link li a{
    font-size: 14px;
    line-height: 24px;
    color: #bface2;
}
.full-footer .row .right-col{
    width: 50%;
    float: left;
    text-align: right;
}
.full-footer .row .right-col .left-input{
    width: 50%;
    float: left;
    padding-right: 15px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
.full-footer .row .right-col .left-input input{
    width: 100%;
    padding: 16px 20px;
    border-radius: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
.full-footer .row .right-col .right-input{
    width: 50%;
    float: left;
    padding-left: 15px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
.full-footer .row .right-col .right-input input{
    width: 100%;
    padding: 16px 20px;
    border-radius: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
.full-footer .row .right-col textarea{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    margin: 30px 0;
    border-radius: 5px;
}
.full-footer .row .right-col .btn a{
    font-size: 22px;
    font-weight: 400;
    color: #ffffff;
    padding: 14px 53px;
    background: #49cbcd;
    border-radius: 5px;
}
.full-footer .row .right-col
.full-footer .row .right-col
.full-footer .row .left-col
.full-footer .row .left-col
.full-footer
.full-footer
/*Footer part ends*/